/*WIDGET*/ 
.widget_block {display: none;padding: 0 50px 0 0;margin: 0 auto;text-align: center;}
.widget_links:after{content: ""; display: block; clear: both;}
.widget_links a, .widget_links span{
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
    margin: 0;
	width: 40px;
	height: 36px;
    line-height: 37px;
	text-align: center;
	color: #446e97;
    font-size: 16px;
}
.widget_links a:last-child, .widget_links span:last-child{margin: 0;}
.widget_links a:hover, .widget_links span:hover, header .widget_links a[href^="mailto:"]:hover{background-color: #fff;color: #225F11;}
.widget_links a:first-child, .widget_links span:first-child {border-radius: 22px 0 0 22px;}
.widget_links a:last-child, .widget_links span:last-child {border-radius: 0 22px 22px 0;}
.widget_form {
    display: none;
    background: #f3f3f3 none repeat scroll 0 0;
    border: 1px solid #d3d3d3;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    right: 0;
    left: auto;
    top: 100%;
	z-index: 21;
	min-width: 570px;
    margin: 0;
    padding: 15px;
}
.sticky .widget_form{margin: 0;}
.widget_form form {margin-bottom: 0;}
.widget_form ul{list-style: none;padding: 0;margin: 0 -10px;}
.widget_form ul li{padding: 0 10px; margin: 0;}
.widget_form ul li:last-child{margin-bottom: -10px;}
.widget_form .input_wrap{margin-bottom: 10px;}
.widget_form input[type="text"], .widget_form input[type="email"], .widget_form textarea {height: 36px;	font-size: 14px; background-color: transparent; margin: 0;}
.widget_form textarea {height: 70px;}
.widget_form input[type="submit"], .widget_form input[type="reset"], .widget_form button{height: 36px;line-height: 32px;font-size: 14px;padding: 0 20px;min-width: inherit;}
.widget_form .error, .widget_form .success, .widget_form .information{margin: 10px 0 0; padding: 6px 5px 6px 30px; -webkit-background-position: 8px 10px; background-position: 8px 10px; min-height: 36px; font-size: 14px;}
.sticky .widget_form{margin: 0;}
.sticky .widget_links a, .sticky .widget_links span{background: #225F11; color: #fff;}


/*min 1800px*/
@media only screen and (min-width: 1800px) {  
	.homebanner .bannertext .container::before{
		left: 562px;
		width: 488px;
		height: 655px;
	} 
}
/*min 1700px*/
@media only screen and (min-width: 1700px) {  
	.homebanner .bannertext .container::before{
		left: 589px; 
		width: 432px;
		height: 585px;
	} 
}
/*min 1600px*/
@media only screen and (min-width: 1600px) {  
	.homebanner .bannertext .container::before{
		left: 579px; 
		width: 416px;
		height: 565px;
	} 
}
/*1200px*/
@media only screen and (max-width: 1400px) { 
	.homeslider.owl-carousel .owl-dots{right: 45%;}
	.search-right form .row{ margin-right: 15px; margin-left: 15px;	} 
	/* ===sell-your-business======== */
	.business-details-list .box{height: 100%;}
	.homebanner .bannertext .container::before { 
		width: 342px;
		height: 414px;
	}
	.banner_right_text{left: 75%;}
}

/*1170px*/
@media only screen and (max-width: 1199px) {   
	.homebanner .bannertext .container::before {
		width: 298px;
		height: 400px;
	}
}

/*992px*/
@media only screen and (max-width: 1169px) { 
	.logo{padding: 0;}
	.no-banner header { min-height: 137px; }
	.bannertext .subheading{ font-size: 32px; line-height: 42px;}
	.bannertext .heading{ font-size: 28px; line-height: 32px; margin-bottom: 10px;}
	.homebanner{min-height: auto;}
	.latest-list ul li .box .row [class*="col-"]:nth-child(2){ -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }
	.latest-list .right-block{margin-top: -43px;}
	.latest-list ul li .box .row [class*="col-"]:nth-child(3){ -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
	.latest-list .box .img-sec{padding: 0;}
	.home-testimonial .testimonial_list .sk_box .sk_text .subheading{margin-top: 15px;}
	.online-business .heading{font-size: 30px; line-height: 38px;}
	.online-business{padding: 20px 0;}
	/*== marketplace details start here ==*/ 
	.seo-data .content .subheading, .LockContentBox .subheading{font-size: 20px;}
	.left-rating span{font-size: 36px;}
	.breakdown-rating .left-box .subheading{font-size: 20px;}
	.multiple-price ul{justify-content: center;}
	.multiple-price ul li{
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.analysis-list .box{height: 560px;}
	/*== marketplace details end here ==*/

	/* =======about=== */
	.inner-pages .heading2, .inner-pages .heading{font-size: 28px;}
	.fees-wrap ul li{font-size: 17px;}
	.fees-left{width: 23%;}
	.fees-right{width: 77%; padding-left: 40px;}
	/* ==========uncover listing start===== */
	.unlock-last-sec .contact-box{ padding: 30px 165px 30px 20px; min-height: auto;}
	/* ==========uncover listing end===== */

	/* ==========seller details start===== */
	.steps-wrapper .heading{font-size: 40px;}
	/* ==========seller details end===== */

	/* ==========business-valuation-action start===== */
	.valuation-header{justify-content: center;}
	.valuation-header .valuation-header-right{margin-left: 0 !important;} 
	/* ==========business-valuation-action end===== */
	.homebanner .bannertext .container::before {
		width: 232px;
		height: 304px;
		left: 482px;
	}
	.homebanner .bannertext-in{
		bottom: 76px;
	}
	.search_section{
		bottom: 20px;
		max-width: 620px;
	}

	.banner_right_text{ left: 76%;}

}

/*768px*/
@media only screen and (max-width: 991px) { 
	html.responsive,.responsive body {overflow-y: hidden;} 
	.responsive_btn{display: block;}
	.nav_menu, .hmiddle{display: none;} 
	.nav_wrapper{order: 3;}
	/*.header_main{position: relative; background: #b3c0db;}*/
	.header_main{position: relative; background: #35507f;}
	.bannertext{top: auto; bottom: 0; padding: 15px 0 0;}
	.innerbanner img{height: 160px;}
	.innerbanner .bannertext .subheading { font-size: 20px; line-height: 24px; }
	.bannertext .btn { height: 38px; line-height: 38px; padding: 0 15px; }
	.htop-left{justify-content: center;}
	.hinfo {margin: 3px 9px;}
	.user-right{margin: 3px 9px !important;}
	.htop{padding: 10px 0;}
	.after-login{justify-content: center;}
	.after-login .user{margin: 5px 0;}
	.latest-list .mid-block .block{max-width: 400px; margin-bottom: 8px;}
	.latest-list .mid-block{flex-wrap: wrap;}
	.latest-list .box .img-sec{ -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
	.latest-list ul li .box .row [class*="col-"]:nth-child(2){ -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%;}
	.img-left{max-width: 55%;}
	.home-work .text { padding-top: 0;	}
	.work-bottom-list .box{padding: 0 10px;}
	.online-business .d-flex{flex-wrap: wrap;  justify-content: center !important;}
	.online-business .left{width: 100%; margin-bottom: 10px; text-align: center;}
	/*== marketplace details start here ==*/
	.marketplace-details-category span:first-child{min-width: 80px;}
	.seo-data .content .subheading, .LockContentBox .subheading{max-width: 60%;}
	.grap-top .box .d-flex .ul li:first-of-type{margin-bottom: 5px;}
	.listing-summary .right-part > .box{ padding: 30px 15px;}
	.breakdown-rating .left-box{padding: 30px 10px;}
	.left-rating{font-size: 33px;}
	.listing-summary .right-part .box .top-list ul li .subheading{font-size: 22px; line-height: 25px;}
	.analysis-list .box{height: auto;}
	.analysis-list ul li{ -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
	.font35 { font-size: 28px; line-height: 34px; }
	.multiple-price ul li { -ms-flex: 0 0 33.33%; flex: 0 0 33.33%; max-width: 33.33%; }
	/*== marketplace details end here ==*/
	/* ============about============= */
	.fees-left{width: 100%; padding: 0; margin-bottom: 20px; border: none;}
	.fees-right{width: 100%; padding: 0;}
	/* ==========latest-listing start here======== */
	.top-head-sec .ml-auto{margin-top: 10px;}
	.top-head-sec .wrap .list { height: 30px; line-height: 30px; padding: 0 10px; font-size: 14px; }
	.top-head-sec .wrap .list:last-child { padding-right: 40px;	}
	/* ==========latest-listing end here======== */
	/* ==========how-it-work end here======== */
	.how-it-work .work-list .box .text{ margin-top: 0; padding: 0 0 0 60px;}
	.work-list ul li:nth-child(even) .box .text{padding: 0 60px 0 0;}
	.work-list .box .subheading{ font-size: 30px; line-height: 33px; }
	.work-list .box .left-text{font-size: 50px;}
	/* ==========how-it-work end here======== */

	/* ==========business-details-list start here======== */
	.business-details-list .box{ padding: 20px 20px; min-height: 170px;}
	.business-details-list ul{justify-content: center;}
	.business-details-list ul li{ -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;	}
	.marketplace-details-category{font-size: 18px;}
	.marketplace-details-category span:first-child{font-weight: 700;}
	/* ==========business-details-list end here======== */

	/* ==========uncover listing start===== */
	.section-secure .box figure{ width: 85px; height: 85px;}
	.section-secure .box .subheading, .section-secure .box .subheading strong{font-size: 18px;}
	.section-secure .box{padding-left: 100px;}
	/* ==========uncover tab end===== */

	/* ==========buyer tab start===== */
	.dashboard-wrap .wallet-wrap{margin-bottom: 10px;}
	.wallet-wrap #buynow, .wallet-wrap #withdraw{position: static; margin: 0 5px;}
	/* ==========buyer tab end===== */

	/* ==========sell-your-business start===== */
	.income-details-list .box{padding: 30px;}
	/* ==========sell-your-business end===== */

	/* ==========seller details start===== */
	.steps-wrapper .steps-inner .steps-right .step-item .subheading{font-size: 18px; line-height: 22px;}
	/* ==========seller details end===== */

	/* ==========business-valuation-action start===== */ 
	.valuation-header .valuation-header-right{margin-top: 15px;}
	/* ==========business-valuation-action end===== */ 
	.homebanner .bannertext .container::before {
		left: 510px;
	}
	.homebanner .bannertext-in{padding: 0 15px;}
	.search_section{padding-left: 15px; padding-right: 15px;max-width: 700px;}
	.innerbanner .bannertext{bottom: 50%;}

	.banner_right_text { 
		bottom: 39%;
		right: 10px;
		left: auto;
		text-align: center;
		font-size: 12px; 
	}
}

/*600px*/
@media only screen and (max-width: 767px) {
	.htop{padding: 5px 0;}   
	.no-banner header { min-height: 115px; }
	.innerbanner img{height: 136px;}
	.latest-list .right-block{margin-top: 10px; text-align: left;}
	.latest-list .box .img-sec{margin-bottom: 15px;}
	.latest-list .box .img-sec, .latest-list ul li .box .row [class*="col-"]:nth-child(2){
		-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;
	}
	.img-left{max-width: 100%; margin-right: 0; margin-bottom: 15px;}
	.work-bottom-list .box{padding: 15px; background-color: #5b83ce; color: #fff; border-radius: 3px;}
	.work-bottom-list .box .subheading{color: #fff;}
	.work-bottom-list .box span{ font-size: 23px; line-height: 24px;}
	.work-bottom-list .box .tick{display: none;}
	.online-business .heading { font-size: 24px; line-height: 32px; font-weight: 700; }
	.search-right .row > [class*="col-"]{-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
	.search-right form .row{justify-content: center;} 
	#advsrchlink{
		text-align: center;
		margin: 0 auto;
		max-width: 175px;
		display: block;
		background: #f1f4f5;
		padding: 3px 0 5px;
		border-radius: 3px;
	}
	.flogo{max-width: 220px;}
	/*== marketplace details start here ==*/  
	.seo-data .content, .LockContentBox{flex-wrap: wrap !important; justify-content: center !important;}
	.seo-data .content .subheading, .LockContentBox .subheading{width: 100%; max-width: 100%; text-align: center; margin: 10px 0;}
	.grap-top .btn-group .btn.btn_t{padding: 0 10px;}
	.listing-summary .left-part, .listing-summary .right-part{ -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;	}
	.listing-summary .right-part{margin-top: 20px;}
	.breakdown-rating .left-box { padding: 40px 10px; }
	.multiple-price ul li {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.work-skill-list .tab-menu, .work-skill-list .tabDetails{width: 100%;}
	.work-skill-list .tab-menu ul{justify-content: center;}
	.work-skill-list .tab-menu ul li a{height: 100%;}
	.work-skill-list .tabDetails{margin-top: 25px; /* text-align: center; */}
	.work-skill-list .tabDetails .LockContentBox2{margin: 0 auto;}
	.section.analysis{padding-top: 0;}
	.marketplace-sold-btn{width: 100%;}
	.marketplace-sold-btn {
		width: 100%;
		float: none;
		margin-top: 10px;
		text-align: left;
		display: inline-block;
	}
	.marketplace-sold-btn .sold{margin: 0;}
	/*== marketplace details end here ==*/

	/*== home page banner text end here ==*/
	.search_section form input[type="submit"] { 
		min-width: auto;
		padding: 0 10px;
		font-size: 13px;
	}
	.bannertext .heading {
		font-size: 22px;
		line-height: 26px;
	}
	.bannertext .subheading {
		font-size: 26px;
		line-height: 30px;
	}
	/*== home page banner text end here ==*/

	/*== home page whats-nbp start here ==*/
	.whats-nbp ul li{ border:none !important;}
	.whats-nbp ul li .box{ border: 2px dashed rgb(217 191 37 / 50%); padding: 15px; }
	.nbp-list .box .subheading{height: auto;}
	.nbp-list .box .subheading { color: #d9bf25; }
	.nbp-list .box figure { border-color: #d9bf25; }
	.whats-nbp .small-desc{margin-bottom: 0;}
	/*== home page whats-nbp text end here ==*/

	/* ==========home page how-it-work start here======== */
	.work-list .box figure{width: 100%;}
	.work-list .box .text{margin: 0; margin-top: 30px !important; width: 100%; }
	.work-list .box .left-text, .work-list ul li:nth-child(even) .box .left-text{left: 44px; font-size: 40px;}
	.work-list ul li:nth-child(even) .box .text {
		padding: 0 0 0 40px;
		margin-left: 0;
		margin-right: 0;
	}
	.how-it-work .work-list .box .text{padding-left: 40px;}
	.work-list .box{margin-top: 10px; margin-bottom: 10px;}
	/* ==========home page how-it-work end here======== */

	/* ==========Footer start here======== */
	.fblock:nth-child(2){padding-left: 15px;}
	.fblock{ margin-bottom: 30px; }
	.fblock:last-child{ margin-bottom: 0; }
	/* ==========Footer end here======== */

	/* ==========business-details-list start here======== */
	.blue-heading{font-size: 20px; line-height: 24px;}
	.monetization-list-with-desc .smaller.d-block{min-height: auto;}
	.business-details-list .box .subhead{line-height: 17px; min-height: 34px;}
	.frequently-asked-questions .faq-list{padding-left: 0;}
	/* ==========business-details-list end here======== */

	/* ==========uncover listing start===== */
	.section-secure .box{min-height: 85px; background-color: #5b83ce; padding: 20px 0 20px 110px;} 
	.section-secure .box figure{top: 50%; transform: translateY(-50%); left: 10px; background-color: #fff;}
	.section-secure .box .subheading{color: #ff8464;}
	.section-secure .box .subheading strong{color: #fff;}
	.section-secure [class*="col-"]{margin-bottom: 10px;}
	.section-secure [class*="col-"]:last-child{margin-bottom: 0;}
	.step2 { padding-left: 15px;	}
	.unlock-last-sec .contact-box{margin-top: 20px;}
	/* ==========uncover listing end===== */
	/* ==========buyer tab start===== */
	.dashboard-wrap .wallet-wrap .wallet{ margin-bottom: 10px; width: 100%; text-align: center;	}
	.steps-wrapper .steps-inner {
		margin-bottom: 40px;
		padding-bottom: 40px;
	}
	/* ==========buyer tab end===== */

	/* ==========sell-your-business tab end===== */
	.monetization-list ul li{
		-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;
	}
	/* ==========sell-your-business tab end===== */

	/* ==========about end===== */
	.fees-wrap ul li{width: 50%;}
	/* ==========about end===== */

	/* ==========profile start===== */
	.upload-profile-pic{display: block; margin: 0 auto 20px;}
	.upload-profile-pic-right{text-align: center;}
	.account-sec .basic-info{padding: 30px;}
	.my-account-tab .basic-info:first-child{margin-top: 10px;}
	/* ==========profile end===== */
	/* ==========seller details start===== */
	.steps-wrapper .steps-inner .steps-right, .steps-wrapper .steps-inner .steps-left{width: 100%;}
	.steps-wrapper .steps-inner .steps-left{margin: 0 0 20px;}
	.steps-wrapper .steps-inner{flex-wrap: wrap;}
	.steps-wrapper .steps-inner:nth-child(even) .steps-left{margin-left: 0;}
	.steps-wrapper .heading { font-size: 35px; }
	/* ==========seller details end===== */
	.homebanner .bannertext .container::before{ width: 192px; height: 235px; left: auto; right: 0;}
	.search_section {
		bottom: 10%;
	}
	.banner_right_text{
		bottom: 58%;
		line-height: normal;
	}
}

/*480px*/
@media only screen and (max-width: 599px) {
	.hbottom .btn{padding: 0 10px; font-size: 13px; min-width: auto;}
	.hinfo li span{font-size: 17px;}
	.hinfo{font-size: 13px;}
	.user-login > a{font-size: 13px;}
	/*== marketplace details start here ==*/  
	.breakdown-rating .left-box { padding: 20px 10px; margin-bottom: 10px; }
	.marketplace-details{padding-bottom: 0;}
	.multiple-price ul li{margin-bottom: 15px;}
	.traffic{padding-top: 0;}
	.analysis-list .box{padding: 30px !important;}
	.analysis-list > ul > li .box::after{display: none;} 
	.analysis-list .box .subheading { font-size: 22px; line-height: normal;	}
	.ProfitRevenue.business-details-list .box .subhead{height: auto;}
	/*== marketplace details end here ==*/ 
	/*== home page banner text start here ==*/ 
	.itemheader .bannertext{position: static;background: #5b83ce; padding: 20px;}
	.search_section form .row [class*="col-"]{margin: 3px 0;}
	.search_section .range-sec{width: 100%;}
	/*== home page banner text end here ==*/ 

	/* ==========how-it-work start here======== */
	/* ==========how-it-work end here======== */

	/* ==========business-details-list start here======== */
	.business-details-list ul{margin-bottom: -16px;}
	.business-details-list ul li {
		margin-bottom: 16px;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.business-details-list .box{min-height: auto;}
	.business-details-list .box .subhead{min-height: auto;}
	.panels .btn.btn-ylw .fa{margin-right: 10px;}
	.panels .btn .fa{margin-left: 10px;}
	.marketplace-details-para .btn{margin-bottom: 5px; margin-top: 5px;}
	/* ==========business-details-list end here======== */
	/* ==========uncover listing start======== */
	.unlock-last-sec .box{padding: 25px;}
	.unlock-last-sec .box .subheading {
		font-size: 24px;
		line-height: 30px;
	}
	/* ==========uncover listing end======== */
	/* ==========about end===== */
	.fees-wrap ul li{width: 100%;}
	/* ==========about end===== */ 
	.homebanner .bannertext-in, .search_section{position: static;}
	.homebanner .bannertext .container::before {
		width: 102px;
		height: 135px;
		bottom: auto;
		top: -155px;
	}
	.innerbanner .bannertext p { 
		font-size: 14px;
		line-height: 18px;
	}
	.innerbanner img {
		height: 154px;
	}

	.banner_right_text {
		bottom: auto;
		line-height: normal;
		top: -70px;
		right: 25%;
		text-align: right;
	}
}

/*360px*/
@media only screen and (max-width: 479px) {
	.testimonial_list .owl-carousel{padding: 0;}
	.itemheader .bannertext{padding: 20px 0;}
	.home-testimonial .testimonial_list .sk_box .sk_text{padding: 35px 0;}
	.heading{font-size: 26px; line-height: 30px;}
	.logo{margin: 0 auto 10px;}
	.sticky .logo{display: none;}
	.no-banner header { min-height: 185px; }
	.user-right{margin: 5px auto 0 !important;}
	.htop-left{justify-content: center !important;}
	.hbottom .btn{height: 34px; line-height: 32px;}
	.responsive_btn{height: 34px; width: 34px;} 
	.after-login .btn-group .btn{font-size: 14px;}
	.after-login .btn-group{ margin-bottom: 3px; width: 100%; margin-right: 0 !important; margin-left: 0 !important; display: flex !important; justify-content:  center;}
	.online-business .heading { font-size: 20px; line-height: 28px;}
	.online-business .short-desc { font-size: 14px; line-height: normal; margin-top: 5px; }
	.online-business .right .btn{min-width: auto; font-size: 14px; padding: 0 8px;}
	.search-right .range-sec{padding: 2px 9px;}
	.innerbanner img {
		height: 154px;
	}
	.innerbanner .bannertext p{font-size: 14px; line-height: normal;}
	/*== marketplace details start here ==*/  
	.frequently-asked-questions .content-box, .lockBox {
		width: 100%; height: auto; padding: 40px 30px;
	}
	.Interview-Video .video-frame .owl-carousel iframe{height: 180px;}
	.frequently-asked-questions .content-box{margin-top: 20px;}
	.multiple-price .box {
		font-size: 20px; line-height: 23px;
	}
	.multiple-price .box p{font-size: 14px; line-height: normal;}
	.multiple-price .box{padding: 10px;}
	.analysis-list .box .subheading{font-size: 20px;}
	.marketplace-details-category span:first-child{min-width: 80px;}
	.heading, .inner-pages .heading2, .inner-pages .heading{ font-size: 24px; line-height: 28px; }
	/*== marketplace details end here ==*/
	/* ==========home page how-it-work start here======== */
	.work-list .box .subheading {
		font-size: 27px;
		line-height: 31px;
	}
	/* ==========home page how-it-work end here======== */
	/* ==========Footer start here======== */
	.fblock form .btn{min-width: auto; padding: 0 10px;}
	.copyright nav, .copyright p{width: 100%; text-align: center;}
	.copyright .d-flex, .copyright ul{flex-wrap: wrap; justify-content: center !important;}
	/* ==========Footer end here======== */
	/* ==========Login page start here======== */
	.login-sec .jost-font{font-size: 11px;}
	.login-sec form{ padding: 30px 20px;}
	/* ==========Login page end here======== */

	/* ==========business-details-list start here======== */
	.d-flex{flex-wrap: wrap;}
	.BtnReset.btn{min-width: auto;}
	.step2back, .step2next, .step3back, .step3next, .step4back, .step4next, .step5back, .step5next{min-width: auto; padding: 0 15px;}
	.blue-heading{padding: 10px; font-size: 17px;}
	.js-tabs .tabs li{
		font-size: 16px;
		background: #fbfbfb;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.caption-sec strong{font-size: 7px;}
	.marketplace-details-para .btn{min-width: 200px;}
	/* ==========business-details-list end here======== */

	/* ==========uncover listing start===== */
	.unlock-last-sec .contact-box{padding: 20px; text-align: center;}
	.unlock-last-sec .contact-box::after{display: none;}
	/* ==========uncover listing end===== */

	/* ==========sell-your-business start===== */
	.income-details-list .btn-group{display: flex !important; flex-wrap: wrap !important; justify-content: center;}
	.income-details-list .btn-group .btn{margin: 3px !important;}
	.monetization-list-with-desc.monetization-list .box{height: 100%;}
	/* ==========sell-your-business end===== */

	/* ==========sell-your-business tab end===== */ 
	.monetization-list .box{font-size: 15px; line-height: 18px;}
	.extra-info-list form textarea{max-width: 90%;}
	/* ==========sell-your-business tab end===== */

	/* ==========profile start===== */
	#proofoffundform .heading{font-size: 20px;}
	.my-account-tab .basic-info{padding: 30px;}
	#userProfileupdatePassword ul{margin-bottom: -15px;}
	#userProfileupdatePassword ul li{margin-bottom: 15px;}
	/* ==========profile end===== */
	/* ==========seller details start===== */
	.steps-wrapper .steps-inner .steps-right .step-item{width: 98%;}
	/* ==========seller details end===== */

	/* ==========business-valuation-action start===== */
	.top-part .subheading{font-size: 14px;}
	.box-arrow{padding: 10px 5px;}
	.hvr-text{width: 260px;}
	.valuation-header-left{text-align: center;}
	.valiation-row3 .price-black, .valiation-row3 .gray-text{ display: contents;}
	/* ==========business-valuation-action end===== */

	/* ==========register start===== */
	.register_form input[type="radio"], .register_form input[type="checkbox"]{width: 20px !important; height: 20px; vertical-align: top !important;}
	/* ==========register end===== */

	.banner_right_text{right: 29%; line-height: 20px;}
}
/*320px*/
@media only screen and (max-width: 359px) { 
	.caption-sec strong{font-size: 7px;}
	.caption-sec{font-size: 10px;}
	.search-right form .row {
		margin-right: 0;
		margin-left: 0;
	}
	.search-right input, .search-right select{ padding-left: 12px; padding-right: 12px;}
	#advsrchlink{line-height: normal;}
	.innerbanner .bannertext .subheading { font-size: 16px; line-height: 18px; }
	.bannertext .btn {
		height: 36px;
		line-height: 35px;
	}
	/*== marketplace details start here ==*/  
	.work-skill-list .tab-menu ul li a{padding: 10px; font-size: 13px; line-height: normal;}
	.heading {
		font-size: 23px;
		line-height: 27px;
	}
	/*== marketplace details end here ==*/

	/* ==========buyer tab start===== */
	.wallet-wrap #buynow, .wallet-wrap #withdraw {
		position: static;
		margin: 0 5px;
		min-width: auto;
		font-size: 14px;
	}
	/* ==========buyer tab end===== */
	/* ==========sell-your-business tab end===== */
	.monetization-list ul li{
		-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;
	} 
	.extra-info-list form textarea{width: 90%;}
	.income-details-list .box {
		padding: 20px;
	}
	/* ==========sell-your-business tab end===== */

	/* ==========business-valuation-action start===== */
	.top-part .subheading{font-size: 12px;} 
	/* ==========business-valuation-action end===== */
	.itemheader .bannertext{padding: 20px 0;}
	.homebanner .bannertext .container::before {
		width: 142px;
		height: 115px;
		bottom: auto;
		top: -135px;
	}
	.bannertext .subheading{font-size: 22px;}
	.banner_right_text{right: 36%;}
}


/*=====27-04-2021====*/
@media only screen and (max-width: 767px){
.latest-listing .ul{
	margin-bottom: 0;
}
.latest-listing .ml-auto{
	margin-left: 0 !important;
}
.location{
	margin-bottom: 5px;
}
.traffic {
    padding-top: 40px;
}
.work-skill-list .tab-menu ul li {
    width: 46%;
 }
.monetization-list-with-desc .smaller.d-block{
	box-shadow: none;
}
.admin-reply .seller-id {
    position: relative;
    top: 0;
    font-size: 16px;
}
.img-left {
    float: none;
}



/*saller dashboard*/
.seller-dashboard .dashboard-wrap figure{
	margin-bottom: 30px;
}
.seller-dashboard .panels table{
	display: block;
    width: 100%;
    overflow-x: auto;
}
.valuations-list .box .img-sec {
    padding-right: 0;
    display: block;
    border:none;
}
.valuations-list .box .subheading {
    font-size: 20px;
    line-height: 30px;
}
.valuations-list .box .mid-block {
    display: block;
    padding-top: 20px;
    padding-left: 15px;
}
.valuations-list .box .img-sec {
    padding-left: 15px;
}
.valuations-list .box .right-block {
    display: block;
    border-left: none;
    margin: 0 0 0 0;
}
.valuations-list .box .mid-block .block{
	padding: 8px 5px;
}
.valuations-list .box .subheading {
    line-height: 85px;
}
.monetization-list .box{
	display: block;
	padding: 10px;
}
.seller-dashboard ul.tabs{ 
	text-align: center;
}
.WaitingforFundApproval{
	width: 100%;
}
.testimonial-box p span{
	font-size: 16px !important;
}
.active-user .user-dropdown {
	top: 115%;
}
.basic-info .btn{
	margin-top: 10px;
}
.wallet-wrap #verifyidentityunlockbtn {
    position: relative;
    right: 0;
}
#charNum{
	float: none;
}
.account-sec.basic-info .search-status{
    margin-bottom: 0;
    padding-right: 0px;
}
.account-sec.basic-info .search-status{
	margin-bottom: 0px;
}
#usersupportticketTable_wrapper, #usercallschedulkleTable_wrapper{
	padding: 10px 0 0 0;
}
.account-sec .pagination {
    margin: 10px 0 0 auto;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: initial; 
}

}









/*==================Tab view===================*/

@media only screen and (max-width: 768px) and (max-width: 1020px){
	.inner-pages .heading2, .inner-pages .heading {
	    line-height: 35px;
	}
	.seller-dashboard .dashboard-wrap>figure{
		margin-bottom: 15px;
	}
	.valuations-list .box .round-icon {
	    width: 70px;
	    height: 70px;
	}
	.valuations-list .box .round-icon img{
		max-width: 75%;
	}
	.valuations-list .box .subheading {
	    font-size: 20px;
	    line-height: 25px;
	    padding-left: 85px;
	}
	.valuations-list .box .mid-block {
	    padding-left: 35px;
	}
	.valuations-list .box .mid-block .block{
		padding: 0px 10px;
		display: inline-block;
	}
	.valuations-list .box .mid-block > a {
	    width: auto;
	    display: inline-block !important;
	}
	.basic-info .btn{
		margin-top: 15px;
	}
	.wallet-wrap #verifyidentityunlockbtn {
	    position: relative;
	    right: 0;
	}
	.extra-info-list form {
	    margin: 0 0 !important;
	}


}



@media only screen and (max-width: 768px) and (max-width: 800px){
	.seller-dashboard .js-tabs .tabs{
		text-align: center;
	}
	.seller-dashboard .js-tabs .tabs li {
	    font-size: 16px;
	    padding: 12px 10px;
	    min-width: 99px;
	}
	.valuations-list .box .img-sec{
		border:none;
	}
	.valuations-list .box .right-block {
	    border-left: none;
	    margin-left: 0;
	}
	.active-user .user-dropdown {
	    top: 115%;
	}
	.valuations-list .box .subheading {
	    font-size: 20px;
	    line-height: 26px;
	}
}


@media only screen and (width: 1024px){
	.valuations-list .box .mid-block {
	    padding-left: 25px;
	}
	.valuations-list .box .mid-block .block{
		padding: 0px 5px;
	}
}

